@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');

*
{
  margin: 0;
  padding: 0;
}

ul
{
  list-style-type: none;
}

/*Типовые блоки*/
.outline22
{
  outline: 1px solid red;
}

.outline23
{
  outline: 1px solid blue;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden
{
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.green--background
{
  background-color: #849d8f;
}

.button
{
  border: none;
  border-radius: 100px;
}

.button--red
{
  background-color: #e84d37;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image:      -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image:         linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0 2px 2px #ac1000;
  box-shadow: 0 2px 2px #ac1000;
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.button--green
{
  font-size: 14px;
  font-weight: 500;

  color: #fff;
  border: none;
  background-color: #a1b5aa;
}

.button--green:hover,
.button--green:focus
{
  color: #000;
  outline: none;
  background-color: #fff;
}

.button--red:hover,
.button--red:focus
{
  background-color: #f07a63;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f07a63), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #f07a63, #f26843);
  background-image:      -o-linear-gradient(bottom, #f07a63, #f26843);
  background-image:         linear-gradient(to top, #f07a63, #f26843);
  -webkit-box-shadow: 0 2px 2px #ac1000;
  box-shadow: 0 2px 2px #ac1000;
}

.button--red:active
{
  -webkit-box-shadow: inset 0 2px 2px #ac1000;
  box-shadow: inset 0 2px 2px #ac1000;
}

.button--grey
{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  color: #fff;
}

.button--grey:hover,
.button--grey:focus
{
  cursor: pointer;

  color: #000;
  outline: none;
  background-color: #fff;
}

.button--grey:active
{
  cursor: pointer;

  -webkit-box-shadow: inset 0 2px 2px #6a6b6a;
  box-shadow: inset 0 2px 2px #6a6b6a;
}

.link--underline
{
  text-decoration: underline;

  color: #b0c0b7;
}

.link--color
{
  color: #fff;
}

.link--color:hover
{
  color: #000;
}

.link--color:visited
{
  color: #fff;
}

/*Основные блоки*/
.body-main-settings
{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  position: relative;

  margin: 0;
  padding: 0;

  color: #fff;
}

.main-header
{
  padding-top: 9px;

  background-color: transparent;
}

.container
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.main--padding
{
  padding-right: 2.3%;
  padding-left: 2.3%;
}

.main-header__first-line
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-nav__logo
{
  line-height: 0;
}

.main-nav__logo
{
  margin-right: 11px;
}

.main-nav
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav__list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  list-style-type: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-nav__list-item
{
  font-weight: 700;
  line-height: 32px;

  position: relative;

  margin-left: 3px;
}

.main-nav__list-item:hover
{
  color: #000;
}

.main-nav__list-item:first-child
{
  margin-left: 0;
}

.main-nav__list-item:first-child::after
{
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 8px;

  content: '';

  background-color: transparent;
}

.main-nav__list-item:hover .main-nav__link
{
  color: #000;
  border-radius: 100px;
  background-color: #f8f7f4;
}

.main-nav__link
{
  line-height: 32px;

  display: block;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 32px;
  padding-right: 13px;
  padding-left: 13px;

  text-decoration: none;

  color: #fff;
}

.main-nav__link:hover
{
  position: relative;

  text-decoration: none;

  color: #000;
  border-radius: 15px;
  background-color: #f8f7f4;
}

.main-nav__link:active
{
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}

.main-nav__link::after
{
  position: absolute;
  top: calc(100% - 8px);
  left: 12px;

  width: calc(100% - 50px);
  height: 1px;
  padding-right: 13px;
  padding-left: 13px;

  content: '';

  background-color: rgba(250, 250, 250, .2);
}

.active--page
{
  position: relative;

  text-decoration: none;

  color: #fff;
  border-radius: 100px;
  background-color: #d07058;
}

.active--page::after
{
  content: none;
}

.sub-menu__list
{
  z-index: 1;

  display: none;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 143px;

  color: #000;
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.sub-menu__list-item
{
  height: 28px;
  margin-bottom: 3px;
}

.sub-menu__list-item:first-child
{
  height: 40px;
  margin-bottom: -2px;
  padding-top: 2px;
}

.sub-menu__list-item:last-child
{
  margin-bottom: 9px;
}

.main-nav__list-item:hover .sub-menu__list
{
  position: absolute;
  top: 113%;
  left: -8px;

  display: block;
}

.sub-menu__list-item:first-child::after
{
  position: absolute;
  top: 37px;
  left: 7px;

  width: 128px;
  height: 1px;

  content: '';

  background-color: #d1d0ce;
}

.sub-menu__list-item:first-child .sub-menu__link
{
  font-weight: 700;
}

.sub-menu__list-item:hover,
.sub-menu__list-item:focus
{
  display: block;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fbded7;
}

.sub-menu__list-item:active
{
  display: block;

  background-color: #f6b5a5;
}

.sub-menu__link
{
  font-size: 14px;
  font-weight: 400;

  position: relative;

  display: block;

  padding-right: 19px;
  padding-left: 19px;

  text-decoration: none;

  color: #000;
}

.sub-menu__link:hover
{
  font-size: 14px;

  color: #000;
}

.secondary-menu__list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  padding-top: 14px;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
}

.secondary-menu__list-item
{
  margin-left: 10px;
}

.secondary-menu__list-item:first-child
{
  margin-left: 0;
}

.search-button
{
  position: relative;

  width: 33px;
  height: 33px;
}

.search-button:hover
{
  cursor: pointer;
}

.search-button::before
{
  position: absolute;
  top: 7px;
  left: 7px;

  width: 17px;
  height: 17px;

  content: '';

  background-image: url('../img/loupe.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.search-button:hover::before,
.search-button:focus::before
{
  background-image: url('../img/loupe-black.svg');
}

.search--popup
{
  position: relative;
}

.modal-window-search
{
  position: absolute;
  top: 36px;
  left: -308px;

  display: none;
  flex-direction: row;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 341px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;

  content: '';

  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
}

.search--popup:hover .modal-window-search
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form__input
{
  font-size: 14px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 309px;
  height: 42px;
  padding-left: 14px;

  color: #999;
  border: 1px solid #fff;
  border-radius: 5px;
}

.search-form__input
{
  border: 1px solid #d3d3d2;
}

.secondary-menu_item__enter-button
{
  position: relative;

  min-width: 93px;
  min-height: 33px;
  padding-left: 28px;
}

.secondary-menu_item__enter-button:hover
{
  cursor: pointer;
}

.secondary-menu_item__enter-button::before
{
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;

  content: '';

  background-image: url('../img/enter.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.secondary-menu_item__enter-button:hover::before,
.secondary-menu_item__enter-button:focus::before
{
  background-image: url('../img/enter-black.svg');
}

.enter--popup
{
  position: relative;
}

.modal-window-enter
{
  position: absolute;
  z-index: 2;
  top: 36px;
  left: -182px;

  display: none;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 278px;
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 20px;
  padding-left: 18px;

  content: '';

  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.enter--popup:hover .modal-window-enter
{
  display: block;
}

.cart-button
{
  position: relative;

  width: 117px;
  height: 32px;
  padding-left: 26px;
}

.cart-button:hover
{
  cursor: pointer;
}

.cart-button::before
{
  position: absolute;
  top: 7px;
  left: 15px;

  width: 21px;
  height: 19px;

  content: '';

  background-image: url('../img/empty-cart.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.cart-button:hover::before,
.cart-button:focus::before
{
  background-image: url('../img/empty-cart-black.svg');
}

.full--cart::before,
.full--cart:hover::before,
.full--cart:focus::before
{
  background-image: url('../img/full-cart.svg');
}

.order--popup
{
  position: relative;
}

.modal-window__order
{
  position: absolute;
  z-index: 2;
  top: 36px;
  left: -423px;

  display: none;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 541px;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;

  content: '';

  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.order--popup:hover .modal-window__order
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-window__order-table
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.order-table__main
{
  font-size: 13px;

  width: 509px;
  margin-bottom: 5px;

  table-layout: fixed;
  border-collapse: collapse;

  color: #000;
}

.order-table__1st-col
{
  position: relative;

  width: 11px;
  height: 11px;
}

.order-table__delete-position
{
  position: absolute;
  top: 10px;
  left: 0;

  width: 11px;
  height: 11px;

  content: '';

  border: none;
  background-color: transparent;
  background-image: url('../img/position-delete.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.order-table__2nd-col
{
  width: 33px;
  padding-bottom: 16px;
  padding-left: 15px;
}

.order-table__3rd-col
{
  width: 216px;
  padding-top: 7px;
  padding-left: 15px;

  vertical-align: top;
}

.order-table__4th-col
{
  width: 110px;
  padding-top: 7px;
  padding-left: 27px;

  vertical-align: top;
}

.order-table__5th-col
{
  padding-top: 7px;
  padding-left: 15px;

  vertical-align: top;
}

.order-table__table-total
{
  font-size: 13px;

  width: 509px;
  margin-bottom: 14px;

  table-layout: fixed;
  border-collapse: collapse;

  color: #000;
  border-top: 1px solid #cacac7;
}

.table-total__cell
{
  font-size: 15px;
  font-weight: 700;

  padding-top: 10px;

  text-align: right;
}

.order-table-button
{
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 173px;
  height: 43px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 15px;
  padding-left: 12px;

  text-decoration: none;

  color: #fefefe;
  border-radius: 20px;
}

.main-header__second-line
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.second-line__breadcrumbs
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  margin-top: 25px;

  list-style: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.second-line__contacts
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  text-align: right;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.second-line__working-hours
{
  font-size: 14px;
  font-weight: 700;

  margin-bottom: 3px;
  padding-right: 4px;
}

.second-line__tel-text
{
  font-size: 22px;
  font-weight: 700;

  text-decoration: none;

  color: #fff;
}

.second-line__tel
{
  text-decoration: none;

  color: #fff;
}

.enter-button
{
  font-size: 18px;
  font-weight: 700;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 45px;
  margin-right: 18px;
  padding-right: 25px;
  padding-left: 25px;

  color: #fff;
}

.modal-window-enter__text
{
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.modal-window-enter__link
{
  font-size: 13px;

  display: block;

  color: #000;
}

.enter-form__input
{
  font-size: 14px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 42px;
  margin-bottom: 22px;
  padding-left: 13px;

  color: #999;
  border: 1px solid #fff;
  border-radius: 5px;
}

.enter-form__input:hover
{
  border: 1px solid #d3d3d2;
}

.enter-form__first-internal-container
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.enter-form__second-internal-container
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.carousel
{
  position: relative;

  min-height: 500px;
}

.carousel__slider-list
{
  margin-bottom: 30px;
}

.carousel__slider-list:after
{
  position: absolute;
  z-index: -2;
  top: -57%;
  left: 0;

  width: 100%;
  height: 300%;

  content: '';

  background: -webkit-radial-gradient(500px, rgba(255, 255, 255, .9), rgba(132, 157, 143, 1));
  background:      -o-radial-gradient(500px, rgba(255, 255, 255, .9), rgba(132, 157, 143, 1));
  background:         radial-gradient(500px, rgba(255, 255, 255, .9), rgba(132, 157, 143, 1));
}

.carousel__slider-item
{
  position: relative;

  display: none;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.visible--item
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__slider-img
{
  position: absolute;
  z-index: -1;
  top: -35px;
  left: 250px;

  max-width: 100%;
  height: auto;
}

.carousel__slider-slogan
{
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;

  width: 80%;
  margin-top: 274px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  text-align: center;
}

.slider__button
{
  font-size: 32px;
  font-weight: 700;
  line-height: 66px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 282px;
  min-height: 66px;
  padding-right: 25px;
  padding-left: 25px;

  text-align: center;
  text-decoration: none;

  color: #fff;
}

.carousel__controls
{
  position: absolute;
  top: 446px;
  left: 28px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
}

.carousel__controls-item
{
  z-index: 2;

  margin-left: 8px;
}

.carousel__controls-item:first-child
{
  margin-left: 0;
}

.carousel__controls-button
{
  width: 20px;
  height: 20px;

  border: 2px solid #fff;
  border-radius: 100px;
  background-color: transparent;
}

.carousel__controls-button:hover,
.carousel__controls-button:focus
{
  cursor: pointer;

  outline: none;
  background-color: #b2c1b7;
}

.carousel__controls-button:active
{
  background-color: #fff;
}

.button--active
{
  border-radius: 100px;
  background-color: #fff;
}

.bonuses
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  margin-bottom: 40px;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bonuses__half-part
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 49%;
  min-height: 229px;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 10px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.bonuses__title
{
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;

  margin-bottom: 15px;
}

.bonuses__text
{
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  margin-bottom: 43px;
}

.lpart--background
{
  border-radius: 15px;
  background-image: url('../img/malinka_bonus.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.rpart--background
{
  border-radius: 15px;
  background-image: url('../img/chokolate_bonus.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.bonuses-button
{
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  display: block;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 50px;
  margin-right: 5px;
  padding-top: 12px;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;
  text-decoration: none;

  color: #fff;

  -ms-flex-item-align: end;
  align-self: flex-end;
}

.catalog
{
  margin-bottom: 39px;
}

.catalog__list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  margin-bottom: 46px;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-list--1stpage-indent
{
  margin-bottom: 38px;
}

.product-card
{
  position: relative;

  display: block;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 267px;
  height: 100%;

  text-align: center;
}

/*.product-card:hover::after {*/
/*position: absolute;*/
/*z-index: 2;*/
/*top: -5px;*/
/*left: -11px;*/

/*width: calc(100% + 23px);*/
/*height: calc(100% + 79px);*/

/*content: '';*/

/*border-radius: 10px;*/
/*background-color: rgba(255, 255, 255, .2);*/
/*}*/

.product-card:hover::after
{
  position: absolute;
  z-index: 2;
  top: -5px;
  left: -11px;

  width: calc(100% + 23px);
  height: calc(100% + 5px);

  content: '';

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(255, 255, 255, .2);
}

.product-card__active
{
  position: absolute;
  z-index: 3;
  top: 100%;
  left: -11px;
  /*left: -10px;*/

  display: none;

  width: calc(100% + 23px);
  margin-bottom: 10px;
  padding-top: 5px;

  content: '';

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(255, 255, 255, .2);
}

.product-card:hover .product-card__active
{
  display: block;
}

.product-card:first-child
{
  margin-left: 0;
}

.product-card:last-child
{
  margin-right: 0;
}

.product-card__icecream-link
{
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  position: relative;
  z-index: 4;

  display: inline;

  padding-right: 3px;
  padding-left: 3px;

  text-align: center;
  text-decoration: none;

  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.product-card__icecream-link:hover,
.product-card__icecream-link:focus,
.product-card__icecream-link:active
{
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, .3);
  outline: none;
}

.product-card__icecream-price
{
  font-size: 45px;
  font-weight: 700;

  position: absolute;
  z-index: 4;
  top: 203px;
  left: 0;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, .5);
}

.product-card__icecream-measure-weight
{
  font-size: 30px;

  z-index: 4;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, .5);
}

.product-card__img
{
  position: relative;

  margin-bottom: 8px;
}

.product-card--hit
{
  position: relative;
}

.product-card--hit:before
{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  content: '';

  background-image: url('../img/hit.svg');
  background-repeat: no-repeat;
}

.product-card__button
{
  font-size: 18px;
  font-weight: 700;

  z-index: 10;

  display: block;

  width: calc(100% - 115px);
  margin-top: 4px;
  margin-bottom: 22px;
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 14px;

  -webkit-transform: translateX(21%);
  -ms-transform: translateX(21%);
  transform: translateX(21%);
  text-align: center;
  text-decoration: none;

  color: #fff;

  -ms-flex-item-align: end;
  align-self: flex-end;
}

.gllacy__info
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2.3%;
  margin-bottom: 40px;
  margin-left: 2.3%;
  padding-top: 23px;
  padding-right: 32px;
  padding-bottom: 27px;
  padding-left: 20px;

  color: #323232;
  border-radius: 17px;
  background-color: #ece2c7;
  background-image: url('../img/wafer.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: auto;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gllacy__info-slogan
{
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.gllacy__info-text
{
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 24px;

  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
}

.gllacy__info--icecream
{
  position: relative;
}

.gllacy__info--icecream:before
{
  position: absolute;
  top: -14px;
  left: 0;

  width: 49px;
  height: 49px;

  content: '';

  background-image: url('../img/morozhenka.svg');
  background-repeat: no-repeat;
}

.gllacy__info--leaf
{
  position: relative;
}

.gllacy__info--leaf:before
{
  position: absolute;
  top: -14px;
  left: 0;

  width: 49px;
  height: 49px;

  content: '';

  background-image: url('../img/leaf.svg');
  background-repeat: no-repeat;
}

.gllacy__info--cow
{
  position: relative;
}

.gllacy__info--cow:before
{
  position: absolute;
  top: -14px;
  left: 6px;

  width: 49px;
  height: 49px;

  content: '';

  background-image: url('../img/cow.svg');
  background-repeat: no-repeat;
}

.gllacy__info--temp
{
  position: relative;
}

.gllacy__info--temp:before
{
  position: absolute;
  top: -14px;
  left: 6px;

  width: 49px;
  height: 49px;

  content: '';

  background-image: url('../img/temperature.svg');
  background-repeat: no-repeat;
}

.gllacy__info--left-part
{
  padding-left: 58px;
}

.gllacy__info--right-part
{
  padding-left: 66px;
}

.news-subscribe
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  margin-bottom: 40px;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news-subscribe__half-part
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 49%;
  min-height: 229px;
  min-height: 220px;
  padding-top: 24px;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 10px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.white--back
{
  background-color: #fff;
}

.strawberry--back
{
  background-image: url('../img/strawberry_back.png');
  background-repeat: no-repeat;
  background-position: 18% 39%;
}

.grey--back
{
  padding: 0;

  background-color: #f8f7f4;
}

.news-subscribe__news-header
{
  font-size: 16px;
  font-weight: 500;

  margin-bottom: 7px;

  color: #323232;
}

.news-subscribe__news-link
{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  max-width: 281px;

  color: #323232;
}

.news-subscribe__post-border
{
  height: 100%;
  padding-top: 25px;
  padding-right: 19px;
  padding-left: 20px;

  border: 8px solid transparent;
  border-radius: 10px;
  -webkit-border-image: 10 -webkit-repeating-linear-gradient(135deg, #fe9e90, #fe9e90 10px, transparent 10px, transparent 20px, #92cdff 20px, #92cdff 30px, transparent 30px, transparent 40px);
  -o-border-image: 10 -o-repeating-linear-gradient(135deg, #fe9e90, #fe9e90 10px, transparent 10px, transparent 20px, #92cdff 20px, #92cdff 30px, transparent 30px, transparent 40px);
  border-image: 10 repeating-linear-gradient(-45deg, #fe9e90, #fe9e90 10px, transparent 10px, transparent 20px, #92cdff 20px, #92cdff 30px, transparent 30px, transparent 40px);
}

.news-subscribe__subscribe-text
{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  margin-bottom: 37px;

  color: #5a5a5a;
}

.subscribe-form
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscribe-form__email-input
{
  width: 372px;
  height: 42px;
  margin-right: 15px;
  padding-left: 15px;

  border: 1px solid #d3d3d2;
  border-radius: 3px;
  background-color: #fff;
}

.subscribe-form__email-input:hover
{
  -webkit-box-shadow: 0 0 0 2px rgba(178, 178, 178, .52);
  box-shadow: 0 0 0 2px rgba(178, 178, 178, .52);
}

.subscribe-form__button
{
  font-size: 18px;
  font-weight: 700;

  width: 130px;
  min-height: 44px;

  color: #fff;
}

.contacts-wrapper
{
  position: relative;

  min-height: 430px;
  margin-bottom: 20px;
}

.map
{
  position: absolute;
  bottom: 77px;
  left: 0;

  display: block;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-height: 430px;
}

.contacts
{
  position: absolute;
  z-index: 3;
  top: 62px;
  left: 870px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 302px;
  padding-top: 28px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;

  color: #323232;
  border-radius: 10px;
  background-color: #fff;
}

.contacts__text
{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  margin-bottom: 4px;
}

.contacts__address-text
{
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 23px;

  margin-bottom: 17px;
}

.contacts__tel
{
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  margin-bottom: 10px;

  text-decoration: none;

  color: #323232;
}

.contacts__button
{
  font-size: 18px;
  font-weight: 700;

  display: block;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 252px;
  height: 44px;
  margin-top: 25px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;

  text-align: center;
  text-decoration: none;

  color: #fff;
}

.footer
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  margin-bottom: 30px;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__left-part
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  width: 65%;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__social-list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  width: 30%;
  margin-top: -3px;
  margin-left: -5px;

  list-style-type: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.social-list--1st-page-indent
{
  margin-top: 16px;
  margin-left: -4px;
}

.footer__social-list-item
{
  margin-right: 10px;
}

.footer__social-list-item:last-child
{
  margin-right: 0;
}

.footer__social-button
{
  position: relative;

  display: block;

  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 100%;
}

.footer__social-button:hover
{
  border: 3px solid rgba(255, 255, 255, .8);
}

.footer__social-button:active
{
  border: 3px solid rgba(255, 255, 255, .9);
}

.footer__social-button::before
{
  position: absolute;
  right: 0;
  left: 0;

  width: 32px;
  height: 32px;

  content: '';

  opacity: .8;
}

.footer__social-button:hover::before
{
  opacity: 1;
}

.social-button--twitter::before
{
  background-image: url('../img/twitter.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-button--insta::before
{
  background-image: url('../img/instagram.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-button--fb::before
{
  background-image: url('../img/facebook.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-button--vk::before
{
  background-image: url('../img/vkontakte.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer__info-list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  width: 48%;
  margin-top: -8px;
  padding-right: 5px;
  padding-left: 5px;

  list-style-type: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info-list--1st-page-indent
{
  margin-top: 13px;
}

.footer__info-list-item
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
}

.footer__info-list-link
{
  font-size: 13px;
  line-height: 20px;

  white-space: nowrap;
  text-decoration: none;

  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.footer__info-list-link:hover,
.footer__info-list-link:focus,
.footer__info-list-link:active
{
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, .3);
  outline: none;
}

.active--link
{
  font-weight: 700;

  position: relative;
}

.active--link::before
{
  position: absolute;
  top: 1px;
  left: -24px;

  display: block;

  width: 10px;
  height: 10px;

  content: url(../img/heart.svg);
}

.margin--left
{
  margin-left: 32px;
}

.footer__right-part
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  width: 22%;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__academy-logo
{
  width: 128px;
  height: 39px;
  margin-top: -21px;
  margin-bottom: 6px;
  margin-left: 58px;
}

.footer--1stpage-img-top-indent
{
  margin-top: -3px;
}

.footer__academy-link:hover,
.footer__academy-link:focus,
.footer__academy-link:active
{
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, .3);
  outline: none;
}

.footer__academy-text
{
  font-size: 12px;

  margin-left: 60px;
}

.footer__academy-link
{
  text-decoration: none;

  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.modal-writeus
{
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 481px;
  height: 445px;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border-radius: 10px;
  background-color: #f8f7f4;
}

.modal-writeus__header
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  margin-bottom: 22px;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-writeus__close-button
{
  width: 18px;
  height: 18px;

  border: none;
  background-color: #fff;
  background-image: url('../img/close-button.svg');
  background-repeat: no-repeat;
  background-position: center center;

  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.modal-writeus__close-button:hover,
.modal-writeus__close-button:focus
{
  cursor: pointer;
}

.modal-writeus__title
{
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;

  color: #323232;
}

.modal-writeus__form
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-writeus__submit-button
{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  width: 141px;
  height: 46px;

  color: #fff;

  -ms-flex-item-align: end;
  align-self: flex-end;
}

.modal-form__input-item
{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 270px;
  height: 47px;
  margin-bottom: 17px;
  padding-right: 17px;
  padding-left: 17px;

  color: #999;
  border: 1px solid rgba(178, 178, 178, .52);
  border-radius: 5px;
  background-color: #fff;
}

.modal-form__input-item:hover
{
  -webkit-box-shadow: 0 0 0 2px rgba(178, 178, 178, .52);
  box-shadow: 0 0 0 2px rgba(178, 178, 178, .52);
}

.modal-form__text-area
{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 158px;
  margin-bottom: 23px;
  padding-top: 15px;
  padding-right: 17px;
  padding-left: 17px;

  resize: none;

  color: #999;
  border: 1px solid rgba(178, 178, 178, .52);
  border-radius: 5px;
  background-color: #fff;
}

.modal-form__text-area:hover
{
  -webkit-box-shadow: 0 0 0 2px rgba(178, 178, 178, .52);
  box-shadow: 0 0 0 2px rgba(178, 178, 178, .52);
}

.bottom--indent
{
  margin-bottom: 38px;
}

.breadcrumbs__list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 18px;
  padding-bottom: 37px;

  list-style-type: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.second-line__breadcrumbs-item
{
  font-size: 14px;
  font-weight: 400;

  position: relative;

  margin-left: 22px;

  color: #fff;
}

.second-line__breadcrumbs-item:first-child
{
  margin-left: 0;
}

.second-line__breadcrumbs-item:not(:last-child)::after
{
  position: absolute;
  top: 0;
  left: 61px;

  content: '»';
}

.second-line__breadcrumbs-link
{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  position: relative;

  text-decoration: none;

  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.second-line__breadcrumbs-link:hover,
.second-line__breadcrumbs-link:focus
{
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, .3);
  outline: none;
}

.paginator-list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 18px;
  padding-bottom: 34px;

  list-style-type: none;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.paginator-list__item
{
  font-size: 14px;
  font-weight: 400;

  position: relative;

  margin-left: 21px;

  color: #fff;
}

.paginator-list__item:first-child
{
  margin-left: 0;
}

.paginator-list__link
{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  position: relative;

  text-decoration: none;

  color: #fff;
}

.paginator-list__link:hover
{
  color: #000;
}

.paginator-list__link:hover::after
{
  position: absolute;
  z-index: -1;
  top: -3px;
  left: -8px;

  width: 26px;
  height: 26px;

  content: '';

  color: #000;
  border-radius: 100px;
  background-color: #fff;
}

.previous--page
{
  position: relative;

  display: block;

  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.previous--page::before
{
  top: 0;
  left: 0;

  content: url(../img/icon-right-small.svg);

  opacity: .5;
}

.next--page
{
  position: relative;
}

.next--page::before
{
  top: 0;
  left: 0;

  content: url(../img/icon-right-small.svg);
}

.top--border
{
  border-bottom: 1px solid #a9bbb1;
}

.filter-title
{
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;

  margin-bottom: 25px;

  color: #fff;
}

.filter-form
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  max-width: 75%;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filter-form__sort
{
  border: none;
}

.filter-form__select
{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 37px;
  margin-top: 5px;
  margin-left: -14px;
  padding: 9px 32px 9px 16px;

  color: #fff;
  border: none;
  border-radius: 100px;
  background-color: #aabab0;
  background-image: url('../img/icon-down-dir.svg');
  background-repeat: no-repeat;
  background-position: 92% 50%;

  -webkit-appearance: none;
}

.filter-form__select:hover,
.filter-form__select:focus,
.filter-form__select:active
{
  cursor: pointer;

  color: #000;
  border: none;
  outline: none;
  background-color: #fff;
  background-image: url('../img/icon-down-dir-black.svg');
}

.filter-form__select-option
{
  cursor: pointer;

  color: #000;
  border: none;
  outline: none;
  background-color: #fff;
}

.filter-form__legend
{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  color: #fff;
}

.filter-form__sort
{
  /*flex-basis: 23%;*/
  max-width: 194px;
  margin-bottom: 16px;
}

.filter-form__range
{
  position: relative;

  width: 220px;
  height: 36px;
  margin-left: -3px;

  border: none;
  border-radius: 20px;

  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  /*flex-basis: 23%;*/
}

.filter-form__range-controls
{
  position: relative;

  height: 20px;
  margin-top: 5px;
  margin-bottom: 14px;
  padding-top: 17px;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 20px;
  background-color: #aabcb2;
}

.filter-form__scale
{
  height: 4px;

  background: #d1dad3;
}

.filter-form__toggle
{
  position: absolute;
  top: 9px;
  left: 10px;

  width: 4px;
  height: 4px;
  padding: 0;

  cursor: pointer;

  border: 8px solid #fff;
  border-radius: 50%;
  background-color: #ababab;
}

.filter-form__range-item
{
  margin: 0;
  padding: 0;

  border: none;
}

.toggle--min
{
  left: 36px;
}

.toggle--max
{
  left: 132px;
}

.filter-form__bar
{
  width: 70%;
  height: 4px;

  background: #f8f7f4;
}

.filter-form__fantess
{
  /*flex-basis: 50%;*/
  width: 415px;

  border: none;
}

.filter-form__legend
{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  margin-left: 14px;

  color: #fff;
  /*margin-bottom: 2px;*/
}

.filter-form__fatness-list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 36px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 33px;

  color: #fff;
  border-radius: 20px;
  background-color: #aabcb2;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-form__fatness-item
{
  padding-right: 17px;
  padding-left: 11px;
}

.filter-form__fatness-label
{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: #fff;
}

.filter-form__fatness-radiobutton
{
  position: relative;
}

.filter-form__fatness-radiobutton + .filter-form__fatness-label::before
{
  position: absolute;
  top: -4px;
  left: -34px;

  width: 25px;
  height: 25px;

  content: '';

  opacity: .8;
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.filter-form__fatness-radiobutton:not(:disabled) + .filter-form__fatness-label:hover::before
{
  opacity: 1;
}

.filter-form__fatness-radiobutton:checked + .filter-form__fatness-label::after
{
  position: absolute;
  top: -4px;
  left: -34px;

  width: 26px;
  height: 26px;

  content: '';

  opacity: 1;
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.filter-form__additive
{
  margin-bottom: 41px;

  border: none;

  -ms-flex-preferred-size: 82%;
  flex-basis: 82%;
}

.filter-form__additive-list
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 36px;
  margin-top: 5px;
  padding-top: 9px;
  padding-right: 22px;
  padding-left: 46px;

  color: #fff;
  border-radius: 20px;
  background-color: #aabcb2;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-form__additive-item
{
  position: relative;
}

.filter-form__additive-checkbox
{
  position: relative;
}

.filter-form__additive-checkbox:not(:disabled) + .filter-form__features-label:hover::before
{
  opacity: 1;
}

.filter-form__additive-checkbox + .filter-form__features-label::before
{
  position: absolute;
  top: 0;
  left: -32px;

  width: 20px;
  height: 20px;

  content: '';
  cursor: pointer;

  opacity: .4;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.filter-form__additive-checkbox:checked + .filter-form__features-label::after
{
  position: absolute;
  top: 0;
  left: -32px;

  width: 24px;
  height: 20px;

  content: '';
  cursor: pointer;

  opacity: .4;
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.filter-form__additive-checkbox:checked:hover + .filter-form__features-label:hover::after
{
  opacity: 1;
}

.filter-form__button
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -17px;
  padding-top: 7px;
  padding-right: 27px;
  padding-bottom: 8px;
  padding-left: 29px;

  border: 1px solid #f5f6f5;
  background-color: #aabcb2;

  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
